{% stylesheets 'Dsh/streetpicsBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}

<div class="filmspace">
    <div class="film_strip">
        <img class="photosinstylesheet" src="http://placehold.it/263x180" />
        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
    </div>
</div>