{% extends '::base.html.twig' %}


   {% block dazfilmstrip %}
    
    {{ parent() }}

    <link href="{{ asset('Dsh/streetpicsBundle/Resources/css/streetpics.css') }}" rel="stylesheet" />
    
	<div class="filmspace">
	    <div class="film_strip">
	        <img class="photosinstylesheet" src= <img src="../../public/images/babyface.gif" alt="babyface" width="263" height="176" />
	       
	        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
	        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
	        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
	        <img class="photosinstylesheet" src="http://placehold.it/263x180" alt="" />
	
	    </div>
	</div>
	
    {% endblock %}







